@font-face {
    font-family: "GangOfThree";
    src: url("../font/go3v2.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Kashima";
    src: url("../font/Kashima\ Demo.otf") format("truetype");
    font-weight: normal;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fundo.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lampada1 {
    position: absolute;
    top: 0%;
    left: 4%;
    width: 12%;
}
.lampada2 {
    position: absolute;
    top: -2%;
    right: 36%;
    width: 8%;
}

.calculadora {
    width: 26%;
    height: 80%;
    border: 3px solid #1c1c1c;
    border-radius: 10px;
    background-color: #1c1c1c1f;
    backdrop-filter: blur(10px);
    box-shadow: inset 0px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.display {
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.display span {
    position: absolute;
    bottom: 0%;
    right: 10%;
    color: #535353;
}
.display input {
    width: 100%;
    height: 60%;
    padding: 0px 10px;
    margin-top: 10%;
    background: transparent;
    border: none;
    text-align: end;
    font-family: "Kashima";
    font-size: 50px;
    color: transparent;
    background-image: linear-gradient(to bottom right, #2ed9eb, #0effb9);
    -webkit-background-clip: text;
}

.btns {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subBtns {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subBtns div:nth-child(1) {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.subBtns div:nth-child(2) {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.subBtns div button {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subBtns div:nth-child(1) button {
    font-family: "GangOfThree";
    font-size: 26px;
    background: none;
    border: none;
    border-radius: 6px;
    color: #535353;
    cursor: pointer;
    transition: 0.3s;
}
.subBtns div:nth-child(1) button:hover {
    color: #0effb9;
    background: #0effbb0a;
}
.subBtns div:nth-child(1) button:nth-child(3) {
    font-size: 24px;
} 
.subBtns div:nth-child(1) button:nth-child(1):hover {
    color: #2ed9eb;
    background: #2ed8eb0a;
}
.subBtns div:nth-child(1) button:nth-child(2):hover {
    color: #2ed9eb;
    background: #2ed8eb0a;
}
.subBtns div:nth-child(1) button:nth-child(3):hover {
    color: #2ed9eb;
    background: #2ed8eb0a;
}

.subBtns div:nth-child(2) button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.subBtns div:nth-child(2) button:nth-child(1) {
    font-family: "GangOfThree";
    font-size: 26px;
    background: none;
    border: none;
    border-radius: 6px;
    color: #535353;
    cursor: pointer;
    transition: 0.3s;
}
.subBtns div:nth-child(2) button:nth-child(1):hover {
    color: #0effb9;
    background: #0effbb0a;
}
.subBtns div:nth-child(2) button:nth-child(2) {
    width: 95%;
    background: none;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    color: #535353;
    cursor: pointer;
    transition: 0.3s;
}
.subBtns div:nth-child(2) button:nth-child(2):hover {
    color: #2ed9eb;
    background: #2ed8eb0a;
}

.operators {
    width: 20%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.operators button {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 6px;
    font-family: "GangOfThree";
    font-size: 18px;
    color: #535353;
    cursor: pointer;
    transition: 0.3s;
}
.operators button:nth-child(5) {
    font-size: 16px;
}
.operators button:nth-child(1) {
    font-size: 16px;
}
.operators button:hover {
    color: #2ed9eb;
    background: #2ed8eb0a;
}