* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fundo.jpg);
    background-size: cover;
}

.lampada1 {
    position: absolute;
    top: 0%;
    width: 12%;
}
.lampada2 {
    position: absolute;
    top: -2%;
    right: 10%;
    width: 8%;
}