@font-face {
    font-family: "GangOfThree";
    src: url("../font/go3v2.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Kashima";
    src: url("../font/Kashima\ Demo.otf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Inversionz";
    src: url("../font/Inversionz\ Unboxed.otf") format("truetype");
    font-weight: normal;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 260px;
    height: 420px;
    display: flex;
    align-items: center;
    list-style: none;
    border-radius: 10px;
    overflow: hidden;
}

.slide {
    min-width: 100%;
    height: 100%;
    background-color: #4c77af;
    transition: .3s;
}

.btn {
    position: absolute;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn button {
    width: 26px;
    height: 60px;
    background: none;
    border: none;
    font-family: "Inversionz";
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
}
.btn button:nth-child(1):hover {
    margin-left: -6px;
}
.btn button:nth-child(2):hover {
    margin-right: -6px;
}

.sliderDesk {
    position: absolute;
    bottom: 10%;
    width: 100px;
    height: 30px;
    overflow: hidden;
    list-style: none;
    font-family: "GangOfThree";
}

.desk {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}