@font-face {
    font-family: "GangOfThree";
    src: url("../font/go3v2.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Kashima";
    src: url("../font/Kashima\ Demo.otf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Inversionz";
    src: url("../font/Inversionz\ Unboxed.otf") format("truetype");
    font-weight: normal;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}

.boxes {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.B {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Box 1*/
.Box1 {
    width: 30%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;
    background: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.541);
}

.box1Titulo {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box1Titulo div {
    width: 35%;
    height: 2px;
    background: #2ed9eb;
}
.box1Titulo h1 {
    font-family: "GangOfThree";
    font-size: 16px;
    text-align: center;
    color: #2ed9eb;
    letter-spacing: 6px;
    margin-right: -6px;
}

/*Pesquisa de tarefas (task today)*/
.pesquisaTarefas {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pesquisaTarefas input {
    width: 80%;
    height: 30px;
    padding-left: 6px;
    background: transparent;
    font-family: "GangOfThree";
    color: #2ed9eb;
    border: none;
    border-top: 2px solid #2ed9eb;
    border-left: 2px solid #2ed9eb;
    border-bottom: 2px solid #2ed9eb;
    border-radius: 6px 0px 0px 6px;
}
.pesquisaTarefas input::placeholder {
    color: #474747;
}
.pesquisaTarefas button {
    width: 20%;
    height: 30px;
    background: #2ed9eb;
    color: #181818;
    border: none;
    border-top: 2px solid #2ed9eb;
    border-right: 2px solid #2ed9eb;
    border-bottom: 2px solid #2ed9eb;
    border-radius: 0px 6px 6px 0px;
    cursor: pointer;
    transition: 0.3s;
}
.pesquisaTarefas button:hover {
    background: none;
    color: #2ed9eb;
}

/*Lista de tarefas*/
.listaTarefas {
    width: 100%;
    height: 80%;
    max-height: 80%;
    padding-top: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.listaTarefas::-webkit-scrollbar {
    width: 2px;
}
  
.listaTarefas::-webkit-scrollbar-thumb {
    background: #2ed9eb;
    border-radius: 5px;
}

/*Caixa da tarefa*/
.tarefa {
    min-width: 96%;
    min-height: 18%;
    margin-bottom: 16px;
    margin-right: -4px;
    background: #181818;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

/*Btn para mover as tarefas*/
.tarefa button {
    width: 10%;
    height: 80%;
    background: none;
    color: #2ed8eb31;
    border: none;
    border-right: 2px solid #2ed8eb31;
    cursor: move;
    transition: 0.3s;
}
.tarefa button:hover {
    color: #181818;
}

/*Bio da tarefa*/
.tarefaDesk {
    width: 80%;
    height: 80%;
    margin-left: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.tarefaDesk h4 {
    width: 90%;
    height: 40%;
    font-family: "GangOfThree", "Kashima";
    font-size: 16px;
    font-weight: normal;
    color: #2ed9eb;
    border-bottom: 2px solid #2ed9eb;
    padding-top: 3px;
    transition: 0.3s;
}
.tarefaDesk div {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.tarefaDesk div i {
    margin-right: 10px;
    color: #2ed8eb31;
}
.tarefaDesk div p {
    max-width: 220px;
    max-height: 60px;
    overflow: hidden;
    font-family: "Inversionz";
    font-size: 16px;
    color: #2ed9eb;
    transition: 0.3s;
}

/*Checkbox personalizado (tarefas)*/
.checkbox {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.checkbox input {
    display: none;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.checkbox label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-right: 14px;
    border: 2px solid #2ed9eb;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.checkbox label::before {
    display: inline-block;
    content: "";
    width: 14px;
    height: 14px;
    background: none;
    border-radius: 50%;
}
.checkbox label:focus::before, .checkbox label:hover::before {
    background: #1818185e;
}
.checkbox input:checked + label::before {
    background: #2ed9eb;
    transition: 0.3s;
}
.checkbox input:checked + label::before {
    background: #2ed9eb;
    transition: 0.3s;
}
.checkbox input:checked + label::before {
    background: #2ed9eb;
    transition: 0.3s;
}

/*Tarefa em foco*/
.tarefa:hover {
    background: #2ed9eb;
}
.tarefa:hover button {
    color: #1818185e;
    border-right: 2px solid #18181831;
}
.tarefa:hover button:hover {
    color: #181818;
}
.tarefa:hover div i {
    color: #1818185e;
}
.tarefa:hover div p {
    color: #181818;
}
.tarefa:hover .tarefaDesk h4 {
    color: #181818;
    border-bottom: 2px solid #181818;
}
.tarefa:hover .checkbox label {
    border: 2px solid #181818;
}
.tarefa:hover .checkbox input:checked + label::before {
    background: #181818;
}

/*Tarefa concluida*/
.taskCheck:hover {
    background: #181818;
}
.taskCheck .tarefaDesk h4, .taskCheck:hover .tarefaDesk h4 {
    color: #474747;
    border-bottom: 2px solid #474747;
}
.taskCheck .tarefaDesk div i, .taskCheck .tarefaDesk div p {
    color: #474747;
}
.taskCheck:hover button, .taskCheck button {
    color: #47474793;
    border-right: 2px solid #47474749;
    cursor: default;
}
.taskCheck:hover button:hover, .taskCheck button:hover {
    color: #47474793;
}
.taskCheck:hover .checkbox label, .taskCheck .checkbox label {
    border: 2px solid #474747;
}
.taskCheck:hover .checkbox input:checked + label::before, .taskCheck .checkbox input:checked + label::before {
    background: #474747;
}

/*Adicionar nova tarefa*/
.btnAddTask {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnAddTask button {
    width: 26px;
    height: 26px;
    background: none;
    border: 2px solid #2ed9eb;
    color: #2ed9eb;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}
.btnAddTask button:hover {
    background: #2ed9eb;
    color: #181818;
}

/*DETALHES DA TAREFA*/
.detalhesTarefa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(6px);
    animation: open1 0.1s;
}
@keyframes open1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.detalhesTarefa_content {
    width: 30%;
    height: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #1c1c1c;
    border: 3px solid #2ed9eb;
    border-radius: 12px;
    box-shadow: 0px 0px 0px 12px #1c1c1c;
    animation: open2 0.4s;
}
@keyframes open2 {
    0% {
        width: 0%;
        height: 0%;
    }
    70% {
        width: 0%;
        height: 80%;
    }
    100% {
        width: 30%;
        height: 80%;
    }
}

.detalhesTarefa_content h1 {
    width: 96%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    font-family: "GangOfThree";
    font-weight: normal;
    font-size: 20px;
    color: #2ed9eb;
}

.tarefaDesk2 {
    position: relative;
    width: 80%;
    height: 70%;
    margin-top: -6px;
    padding: 20px 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 2px solid #2ed9eb;
    border-radius: 10px;
}
.tarefaDesk2 h4 {
    position: absolute;
    top: -4%;
    width: 160px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2ed9eb;
    font-family: "GangOfThree";
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 3px;
    color: #181818;
    border-radius: 4px;
}
.tarefaDesk2 p {
    width: 100%;
    height: 100%;
    font-family: "Inversionz";
    font-size: 16px;
    color: #6d6c6c;
    text-align: center;
}

.tarefaDeskTools {
    width: 100%;
    height: 6%;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.tarefaDeskTools button:nth-child(2) {
    width: 30%;
    height: 98%;
    background: #2ed9eb;
    font-family: "GangOfThree";
    font-size: 14px;
    color: #181818;
    border: 3px solid #2ed9eb;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.tarefaDeskTools button:nth-child(2):hover {
    background: none;
    color: #2ed9eb;
}
.tarefaDeskTools button {
    width: 10%;
    height: 80%;
    background: none;
    font-size: 16px;
    color: #474747;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.tarefaDeskTools button:hover {
    color: #2ed9eb;
}
.tarefaDeskTools .btnAtiveted {
    color: #2ed9eb;
}

/*Delete Confirm Popup*/
.popupDeletTask {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 360px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: 10px;
    background: #1c1c1c;
    border: 3px solid #2ed9eb;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 6px #1c1c1c;
    animation: popupDeletConfirm 0.3s;
}
@keyframes popupDeletConfirm {
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}

.popupDeletTask p {
    width: 90%;
    margin-top: 50px;
    text-align: center;
    font-family: "GangOfThree";
    font-size: 16px;
    color: #2ed9eb;
}
.popupDeletTask div {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.confirmBtn {
    width: 40%;
    height: 30px;
    background: #2ed9eb;
    border: 2px solid #2ed9eb;
    border-radius: 6px;
    font-family: "GangOfThree";
    font-size: 14px;
    color: #181818;
    cursor: pointer;
    transition: .2s;
}
.confirmBtn:hover {
    background: none;
    color: #2ed9eb;
}
.cancelBtn {
    width: 40%;
    height: 30px;
    background: none;
    border: none;
    font-family: "GangOfThree";
    font-size: 14px;
    color: #474747;
    cursor: pointer;
    transition: .2s;
}
.cancelBtn:hover {
    color: #2ed9eb;
}

/*Criar nova tarefa*/
.criarTarefa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(6px);
    animation: open1 0.1s;
}

.criarTarefa_content {
    width: 30%;
    height: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #1c1c1c;
    border: 3px solid #2ed9eb;
    border-radius: 12px;
    box-shadow: 0px 0px 0px 12px #1c1c1c;
    animation: open3 0.4s;
}
@keyframes open3 {
    0% {
        width: 0%;
        height: 0%;
    }
    70% {
        width: 0%;
        height: 60%;
    }
    100% {
        width: 30%;
        height: 60%;
    }
}

.criarTarefa_content input {
    width: 90%;
    height: 6%;
    margin-top: 16px;
    padding: 0px 6px;
    background: none;
    outline: none;
    border: none;
    font-family: "GangOfThree";
    font-size: 18px;
    color: #2ed9eb;
}
.criarTarefa_content input::placeholder {
    color: #474747;
}

.criarTarefa_content textarea {
    resize: none;
    width: 90%;
    height: 70%;
    padding: 4px 6px;
    background: none;
    outline: none;
    border: none;
    border-top: 2px solid #2ed9eb;
    border-bottom: 2px solid #2ed9eb;
    font-family: "Inversionz";
    font-size: 17px;
    line-height: 20px;
    color: #6d6c6c;
}
.criarTarefa_content textarea::-webkit-scrollbar {
    width: 2px;
}
.criarTarefa_content textarea::-webkit-scrollbar-thumb {
    background: #2ed9eb;
    border-radius: 5px;
}
.criarTarefa_content textarea::placeholder {
    color: #474747;
}

.criarTarefa_content div {
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.criarTarefa_content div button:nth-child(1) {
    width: 30%;
    height: 50px;
    background: #2ed9eb;
    border: 2px solid #2ed9eb;
    border-radius: 20px;
    font-family: "GangOfThree";
    color: #181818;
    cursor: pointer;
    transition: 0.3s;
}
.criarTarefa_content div button:nth-child(2) {
    width: 30%;
    height: 50px;
    background: none;
    border: none;
    font-family: "GangOfThree";
    font-size: 12px;
    color: #474747;
    cursor: pointer;
    transition: 0.3s;
}
.criarTarefa_content div button:hover {
    background: none;
    color: #2ed9eb;
}